
body{
  font-family: 'Dancing Script';
  background-color: #02010a;
  width: 900px;
  margin: 0 auto;
}





header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  -o-animation: Slidein 1s;
  -moz-animation: Slidein 1s;
  -webkit-animation: Slidein 1s;
}
header h1{
  margin-left: 20px;
  text-align: left;
  width: 50%;
}
header nav {
  float: right;
  padding: 30px 20px;
  width: 50%;
  text-align: right;
}
header nav a{
  font-size: 1.5em;
  color: white;
  padding-left: 40px;
}
header nav a:nth-child(1){
  text-decoration: none;
}





img{
  box-shadow: 2px 2px 2px #02010a;
  width: 80%;
  margin: 10px 10px 0px 10px;
}
.imgc{
  text-align: center;
  background-color:  #82c3a6;
  border: 1px solid black;
}
.imgs{
  text-align: center;
  background-color: #d5c75f;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
#i1{
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px solid black;
}
#i2{
  box-shadow: 2px 2px 2px #02010a;
  transition-property: rotate border box-shadow;
  transition-duration: 1s;
}
#i2:hover{
  border: 2px solid black;
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6 ;
}
#i3{
  box-shadow: 2px 2px 2px #02010a;
  transition: translate border box-shadow;
  transition-duration: 1s;
}
#i3:hover{
  border: 2px solid black;
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
}
.reds img, .ter img{
  width: 10%;
}





footer{
  text-align: justify;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  background-color: #C6d5c5;
}
footer div{
  margin: 20px;
  width: 25%;
}





-webkit-keyframes Slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}






 @media screen and (max-width: 900px) {

   body{
     font-family: 'Dancing Script';
     background-color: #02010a;
     margin: 0 auto;
     width: 100%;
   }




   header{
     background-color: #5b7989;
     color: white;
     text-shadow: 2px 2px 2px #02010a;
     border-radius: 10px 10px 0px 0px;
     display: flex;
     flex-direction: column;
   }
   header h1{
     margin-left: 20px;
     text-align: center;
     width: 100%;
   }
   header nav {
     text-align: center;
     padding-bottom: 20px;
     padding-top: 0px;
     width: 100%;
   }
   header nav a{
     font-size: 1.5em;
     color: white;
     padding-left: 20px;
   }




   img{
     box-shadow: 2px 2px 2px #02010a;
     width: 70%;
     margin: 10px 10px 0px 10px;
   }
   .imgs{
     text-align: center;
     background-color: #d5c75f;
     border: 1px solid black;
     display: flex;
     flex-direction: column;
   }




   footer{
     text-align: justify;
     border: 1px solid black;
     border-radius: 0px 0px 10px 10px;
     display: flex;
     flex-direction: column;
     background-color: #C6d5c5;
   }
