body{
  font-family: 'Dancing Script';
  background-color: #02010a;
  width: 900px;
  margin: 0 auto;
}





header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
}
header h1{
  margin-left: 20px;
  text-align: left;
}
header nav {
  float: right;
}
header nav a{
  font-size: 1.5em;
  color: white;
  padding-right: 20px;
}
header nav a:nth-child(3){
  text-decoration: none;
}





.galeria1, .galeria2{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  text-align: center;
}
img{
  margin-top: 30px;
  width: 90%;
}
article div h3 {
  text-align: center;
}
.img1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.img2, .img4, .img6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.img3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}





footer{
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    background-color: #C6d5c5;
}
footer div{
  text-align: justify;
  margin: 20px;
  width: 25%;
}
.reds img, .ter img{
  width: 10%;
}





 @media (max-width: 900px) {

   body{
     font-family: 'Dancing Script';
     background-color: #02010a;
     margin: 0 auto;
     width: 100%;
   }




   header{
     background-color: #5b7989;
     color: white;
     text-shadow: 2px 2px 2px #02010a;
     border-radius: 10px 10px 0px 0px;
     display: flex;
     flex-direction: column;
   }
   header h1{
     margin-left: 20px;
     text-align: center;
   }
   header nav {
     text-align: center;
   }
   header nav a:nth-child(3){
     text-decoration: none;
     padding-left: 0px;
   }




   .galeria1, .galeria2{
     background-color: #d5c75f;
     display: flex;
     flex-direction: column;
     text-align: center;
   }
   img{
     margin-top: 30px;
     width: 80%;
   }



    footer{
         border-radius: 0px 0px 10px 10px;
         display: flex;
         flex-direction: column;
         background-color: #C6d5c5;
     }
