
body{
  font-family: 'Dancing Script';
  background-color: #02010a;
  width: 900px;
  margin: 0 auto;
}





header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  -o-animation: Slidein 1s;
  -moz-animation: Slidein 1s;
  -webkit-animation: Slidein 1s;
}
header h1{
  margin-left: 20px;
  text-align: left;
  width: 50%;
}
header nav {
  float: right;
  padding: 30px 20px;
  width: 50%;
  text-align: right;
}
header nav a{
  font-size: 1.5em;
  color: white;
  padding-left: 40px;
}
header nav a:nth-child(3){
  text-decoration: none;
}





.galeria1, .galeria2{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  text-align: center;
}
img{
  margin-top: 30px;
  width: 90%;
}
article div h3 {
  text-align: center;
}
.img1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.img2, .img4, .img6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.img3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
.reds img, .ter img{
  width: 10%;
}




footer{
  text-align: justify;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  background-color: #C6d5c5;
}
footer div{
  margin: 20px;
  width: 25%;
}





-webkit-keyframes Slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}






 @media screen and (max-width: 900px) {

   body{
     font-family: 'Dancing Script';
     background-color: #02010a;
     margin: 0 auto;
     width: 100%;
   }




   header{
     background-color: #5b7989;
     color: white;
     text-shadow: 2px 2px 2px #02010a;
     border-radius: 10px 10px 0px 0px;
     display: flex;
     flex-direction: column;
   }
   header h1{
     margin-left: 20px;
     text-align: center;
     width: 100%;
   }
   header nav {
     text-align: center;
     padding-bottom: 20px;
     padding-top: 0px;
     width: 100%;
   }
   header nav a{
     font-size: 1.5em;
     color: white;
     padding-left: 20px;
   }




   .galeria1, .galeria2{
     background-color: #d5c75f;
     display: flex;
     flex-direction: column;
     text-align: center;
   }
   img{
     margin-top: 30px;
     width: 80%;
   }




   footer{
     text-align: justify;
     border: 1px solid black;
     border-radius: 0px 0px 10px 10px;
     display: flex;
     flex-direction: column;
     background-color: #C6d5c5;
   }
